<section id="about">
  <div class="container">
    <h2 i18n>A Propos</h2>
    <span class="bar-title mb-5"></span>
    <div class="row">
      <div class="col-lg-4 col-md-12" data-aos="fade-right">

        <div class='slideshow-wrapper'>
          <img [src]="pic" alt="profile photo" class="img-fluid img">
        </div>

        <!--        social network links-->
        <div class="d-flex justify-content-center">
          <a class="btn-social-media" href=" https://www.linkedin.com/in/pini-tzruya/" rel="tooltip" target="_blank"
             title="Suivez moi sur Linkedin">
            <i class="fa fa-linkedin fa-lg "></i>
          </a>
          <a class="btn-social-media btn-default btn-round btn-lg btn-icon" href="https://github.com/2snufkin"
             rel="tooltip" target="_blank" title="Suivez moi sur GitHub">
            <i class="fa fa-github fa-lg "></i></a>
        </div>

        <!--About Me-->

      </div>
      <div class="col-lg-8  col-md-12 pt-4 pt-lg-0" data-aos="fade-left">
        <h3 i18n>Développeur d'applications Web </h3>
        <p class="font-italic desc" i18n>
          Je suis passionné par le développement, motivé à apporter mon savoir-faire et à apprendre de nouvelles
          technologies.
          Ma façon de résoudre les problèmes :<span class="about-old"> problèmes complexes - solutions simples</span>.
          pas l'inverse.

        </p>

        <!--        details-->
        <div class="row">
          <div class="col-lg-8 col-md-6 about-details">
            <ul>
              <li>
<span class="material-icons">
place
</span>
                <span class="about-det "> Saint-Maur-des-Fossés, France</span>
              </li>
              <li>
                <span class="material-icons">email</span>
                <span class="about-det"><a href="mailto:dev.pinhas@gmail.com">
                  dev.pinhas@gmail.com</a></span>
              </li>

              <li>
                <span class="material-icons">
school
</span>
                <span class="about-det " i18n> Concepteur développeur d'applications</span>
              </li>

            </ul>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>
