<section id="competences">
  <div class="container">
    <h2 i18n>Compétences</h2>
    <span class="bar-title mb-5"></span>
    <div class="row mt-2">

      <div class="col-lg-4" data-aos="fade-up "
           data-aos-anchor-placement="center-bottom" data-aos-delay="300">


        <h5 class="h5"><strong i18n>Développement</strong></h5>
<!--          unit-->
        <div class="space">

        <span class="skillLabel">JavaScript</span>

          <div class="progress">

            <div class="progress-bar" role="progressbar" aria-valuenow="75"
                 aria-valuemin="0" aria-valuemax="100" style="width:75%">
            </div>
          </div>
        </div>
<!--          end unit-->
        <!--          unit-->
        <div class="space">
        <span class="skillLabel">TypeScript</span>

        <div class="progress">

          <div class="progress-bar" role="progressbar" aria-valuenow="75"
               aria-valuemin="0" aria-valuemax="100" style="width:75%">
          </div>
        </div>
        </div>
        <!--          end unit-->
        <!--          unit-->
        <div class="space">
        <span class="skillLabel">Java</span>

        <div class="progress">

          <div class="progress-bar" role="progressbar" aria-valuenow="60"
               aria-valuemin="0" aria-valuemax="100" style="width:60%">
          </div>
        </div>
        </div>
        <!--          end unit-->



<!--framewroks-->

      </div>
      <div class="col-lg-4" data-aos="fade-down"
           data-aos-anchor-placement="center-bottom" data-aos-delay="300">
        <h5 class="h5"><strong>Frameworks</strong></h5>
        <!--          unit-->
        <div class="space">
          <span class="skillLabel">Angular</span>

          <div class="progress">

            <div class="progress-bar" role="progressbar" aria-valuenow="85"
                 aria-valuemin="0" aria-valuemax="100" style="width:85%">
            </div>
          </div>
        </div>
        <!--          end unit-->
        <!--          unit-->
        <div class="space">
          <span class="skillLabel">Bootstrap</span>

          <div class="progress">

            <div class="progress-bar" role="progressbar" aria-valuenow="85"
                 aria-valuemin="0" aria-valuemax="100" style="width:85%">
            </div>
          </div>
        </div>
        <!--          end unit-->

        <!--          unit-->
        <div class="space">
          <span class="skillLabel">SpringBoot/Data</span>
          <div class="progress">
            <div class="progress-bar" role="progressbar" aria-valuenow="85"
                 aria-valuemin="0" aria-valuemax="100" style="width:85%">
            </div>
          </div>
        </div>
        <!--          end unit-->

      </div>
      <div class="col-lg-4" data-aos="fade-up"
           data-aos-anchor-placement="center-bottom" data-aos-delay="300">
        <h5 class="h5"><strong i18n>Outils</strong></h5>
        <!--          unit-->
        <div class="space">
          <span class="skillLabel">MySQL</span>
          <div class="progress">
            <div class="progress-bar" role="progressbar" aria-valuenow="90"
                 aria-valuemin="0" aria-valuemax="100" style="width:90%">
            </div>
          </div>
        </div>
        <!--          end unit-->
        <!--          unit-->
        <div class="space">
          <span class="skillLabel">Docker</span>
          <div class="progress">
            <div class="progress-bar" role="progressbar" aria-valuenow="60"
                 aria-valuemin="0" aria-valuemax="100" style="width:60%">
            </div>
          </div>
        </div>
        <!--          end unit-->
        <!--          unit-->
        <div class="space">
          <span class="skillLabel">Git</span>
          <div class="progress">
            <div class="progress-bar" role="progressbar" aria-valuenow="85"
                 aria-valuemin="0" aria-valuemax="100" style="width:85%">
            </div>
          </div>
        </div>
        <!--          end unit-->

          </div>
        </div>
      </div>


</section>
